@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&subset=latin-ext');

$open-sans: "Open Sans", sans-serif;

$additional-info-color: #5679B0;
$clarification-color: #FDE300;
$error-color: #F7AB00;
$grey-02: rgb(136, 136, 136);
$grey-03: rgb(59, 67, 71);
$secondary-font-color: $grey-02;
$icon-button-color: $grey-03;

$demagog-color: rgb(255,59,0);
$demagog-true-color: #6ABA43;
$demagog-false-color: #E84F2B;
$demagog-lie-color: #FEBC1E;
$demagog-unknown-color: #229EE5;


.annotation-card {
    font-family: $open-sans;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // &:hover {

    //     .quote.additional-info {
    //         color: darken($additional-info-color, 25%);
    //     }

    //     .quote.clarification {
    //         color: darken($clarification-color, 25%);
    //     }

    //     .quote.error {
    //         color: darken($error-color, 25%);
    //   }
    // }
}

.left {
    flex: 2;
    // overflow-x: hidden;
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover {

       &.additional-info {
        background-color: lighten($additional-info-color, 45%);

        .quote {
            color: darken($additional-info-color, 25%);
        }

        }

    &.clarification {
        background-color: lighten($clarification-color, 45%);
        .quote {
            color: darken($clarification-color, 25%);
        }
        }

    &.error {
        background-color: lighten($error-color, 45%);
        .quote {
            color: darken($error-color, 25%);
      }
    }
    }
}

.quoteWrapper {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.quote {
    font-size: 12px;
    text-decoration: none;
    margin: 0;
    white-space: normal;
    max-height: 190px;
    overflow: hidden;
    max-width: 122px;
    cursor: pointer;

  }

.host-name {
    font-size: 12px;
    text-align: right;
    color: $secondary-font-color;
    max-width: 122px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right {
    padding: 15px 20px;
    flex: 3;
    overflow-x: hidden;
    position: relative;
}


.separator {
    width: 1px;
    background-color: #ECF0F6;
}

.top-bar {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-wrapper {
    display: flex;
    flex-direction: column;

    .quote, .comment {
        flex: 1;
    }
}

.date {
    font-size: 12px;
    text-align: right;
    margin: 0;
    color: $secondary-font-color;
    display: inline;
    margin-left: auto;
}

.demagog-icon {
    border: 1px solid $demagog-color;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: sub;
    background-image: url('../../assets/demagog_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
  }

.comment {
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
    overflow-y: scroll;
    height: 155px;

}

.demagog-category {
    font-weight: 600;
    display: inline;

    &:after {
        content: ': '
    }

    &.dg-category-true {
        color: $demagog-true-color;
    }
    &.dg-category-false {
        color: $demagog-false-color;
    }
    &.dg-category-lie {
        color: $demagog-lie-color;
    }
    &.dg-category-unknown {
        color: $demagog-unknown-color;
    }

    }

    .categoryMarker {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $secondary-font-color;
        display: inline-block;


    &.additional-info {
        background-color: $additional-info-color;
    }

    &.clarification {
        background-color: $clarification-color;
    }

    &.error {
        background-color: $error-color;
  }
  }

  .upvote-count {
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      color: $secondary-font-color;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 20px;

      span {
          margin-left: 3px;
      }
  }
