@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&subset=latin-ext');

$open-sans: "Open Sans", sans-serif;
$additional-info-color: #5679B0;
$clarification-color: #FDE300;
$error-color: #F7AB00;
$grey-02: rgb(136, 136, 136);
$grey-03: rgb(59, 67, 71);
$secondary-font-color: $grey-02;
$icon-button-color: $grey-03;

a {
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

.annotation-card {
    font-family: $open-sans;
    background-color: white;
    width: 320px;
    height: 220px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-wrapper {
    display: flex;
    flex-direction: column;

    .quote, .comment {
        flex: 1;
    }
}


.host-name {
    font-size: 12px;
    text-align: right;
    margin: 0;
    color: $secondary-font-color;
}

.demagog-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    background-image: url('../../assets/demagog_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quote {
      font-style: italic;
      font-size: 14px;
      text-decoration: none;
      margin: 0;
      max-height: 80px;
      overflow-y: hidden;

    }

    .comment {
        font-size: 12px;
        border-left: 4px solid $additional-info-color;
        padding-left: 10px;
        text-decoration: none;
        font-weight: 300;


    &.additional-info {
        border-left-color: $additional-info-color;
    }

    &.clarification {
        border-left-color: $clarification-color;
    }

    &.error {
        border-left-color: $error-color;
  }
  }

  .upvote-count {
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      color: $icon-button-color;
      display: flex;
      align-items: center;

      span {
          margin-left: 3px;
      }
  }
