
.annotation-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    justify-content: center;


    .card-container {
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline;
        width: 375px;
        height: 240px;
    }
}
