.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    // a {
    //     color: #34495E;
    // }

}

.groupHeader{
    border-right: 1px solid #D8D8D8;
    padding: 0 10px;
    margin: 10px 20px;
    display: flex;
    width: 60px;

}

.ppLogo {
    background-image: url('../../assets/ppLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
}

.navItem {
    margin-right: 20px;
    padding: 20px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;

    &.active {
        border-bottom: 3px solid #85D8DB;
    }
    &:hover {
        border-bottom: 3px solid #85D8DB;
    }
}

.label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    user-select: none;

}
