@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

.feedback-collector {
    background-color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.feedback-type-button {
    width: 140px;
    padding: 15px 0;
    // height: 80px;
    background: none;
    background-color: white;
    outline: none;
    border-image: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #33239B;
    cursor: pointer;

    &.selected {
        background-color: #33239B;
        opacity: 0.9;
        color: white;
        border: none;
    }

    .button-icon {
        margin-bottom: 7px;
    }

}

.feedback-comment, .link-input {
    padding: 0.5em;
    border: 1px solid #D8DADA;
    outline: none;
    margin: 0;
    display: inline-block;
    color: #000000;
    line-height: 1.5em;
    background: none;
    resize: none;
    width: 400px;
    font-size: 13px;
}

.feedback-comment {
    height: 9em;
}

.link-input {
    height: 1.5em;
}

.label {
    font-size: 13px;
    font-weight: 600;
}

.submit-button-bar {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 5px;

    .action-buttom + .action-buttom {
        margin-left: 15px;
    }

}

.action-buttom {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    &.submit {
        color: #33239B;
    }

    &.cancel {
        color: rgb(136, 136, 136);
    }
}
