.feedback-collector {
    background-color: white;
    padding: 20px;
}

.feedback-type-button {
    width: 150px;
    height: 75px;
    background: none;
    background-color: white;
    outline: none;
    border-image: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #33239B;
}

.feedback-comment {
    padding: 0.5em;
    border: 1px solid #D8DADA;
    outline: none;
    margin: 0;
    display: inline-block;
    color: #000000;
    line-height: 1.5em;
    background: none;
    resize: none;
    width: 400px;
    height: 9em;
    font-size: 13px;
}
